﻿@model MitraisTest.Models.Register

@{
    ViewBag.Title = "Registration";
}

<h4>Registration</h4>

<div class="form-horizontal" id="formRegister" style="display:block;">
    <div class="form-group" style="display:block;">
        <div class="col-md-10">
            <label id="lblMobileNumber"><font color="red"></font></label>
        </div>
        <div class="col-md-10">
            <input type="text" style="display:block;" value="" class="form-control form-control-sm" placeholder="Mobile Number" name="MobileNumber" id="MobileNumber" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label id="lblFirstName"><font color="red"></font></label>
        </div>
        <div class="col-md-10">
            <input type="text" value="" class="form-control form-control-sm" placeholder="First Name" name="FirstName" id="FirstName" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label id="lblLastName"><font color="red"></font></label>
        </div>
        <div class="col-md-10">
            <input type="text" value="" class="form-control form-control-sm" placeholder="Last Name" name="LastName" id="LastName" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label id="lblDob">Date of Birth</label>
        </div>
        <div class="col-md-10">
            <select id="month" name="month"></select>
            <select id="day" name="day"></select>
            <select id="year" name="year"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="radio" name="gender" id="genderMale" value="1"> Male
            <input type="radio" name="gender" id="genderFemale" value="0"> Female
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label id="lblEmail"><font color="red"></font></label>
        </div>
        <div class="col-md-10">
            <input type="text" value="" class="form-control form-control-sm" placeholder="Email" name="Email" id="Email" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" style="width: 100%;" value="Register" class="btn btn-default" id="btnRegister" name="btnRegister" />
        </div>
        <div class="col-md-10">
            <label id="lblRegister"><font color="red"></font></label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <p id="pBtnFooter"><input type="button" style="width: 100%; height:64px;" value="Footer" class="btn btn-default" id="btnFooter" name="btnFooter" /> </p>
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/register.js")" type="text/javascript"></script>
}
